<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>3256998877396165</sid>
    <event-sheet>Menu sheet</event-sheet>
    <size>
        <width>1280</width>
        <height>1024</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="BG" sid="7682944244062929">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Sprite3" uid="24">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>436.111083984</x>
                        <y>300.187927246</y>
                        <z>0</z>
                        <width>871</width>
                        <height>601</height>
                        <depth>0</depth>
                        <hotspotX>0.500781238</hotspotX>
                        <hotspotY>0.500523567</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Main" sid="9548824820959608">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="creditsboard" uid="25">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>588</x>
                        <y>194</y>
                        <z>0</z>
                        <width>120</width>
                        <height>158</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.501976311</hotspotY>
                        <angle>0</angle>
                        <opacity>0.400000006</opacity>
                    </world>
                </instance>
                <instance type="playboard" uid="26">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>94</x>
                        <y>218</y>
                        <z>0</z>
                        <width>122</width>
                        <height>163</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.400000006</opacity>
                    </world>
                </instance>
                <instance type="instructionboard" uid="51">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>124</x>
                        <y>505</y>
                        <z>0</z>
                        <width>180</width>
                        <height>178</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.501976311</hotspotY>
                        <angle>0</angle>
                        <opacity>0.400000006</opacity>
                    </world>
                </instance>
                <instance type="highscoresboard" uid="72">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>763</x>
                        <y>502.5</y>
                        <z>0</z>
                        <width>208</width>
                        <height>191</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.400000006</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="HUD" sid="4732216265552655">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="playtext" uid="27">
                    <properties>
                        <text>Play</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-27,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>61</x>
                        <y>165</y>
                        <z>0</z>
                        <width>93</width>
                        <height>39</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.064538896</angle>
                        <opacity>0.5</opacity>
                    </world>
                </instance>
                <instance type="credittext" uid="28">
                    <properties>
                        <text>Credits</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-27,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>540</x>
                        <y>158</y>
                        <z>0</z>
                        <width>104</width>
                        <height>43</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.265820265</angle>
                        <opacity>0.5</opacity>
                    </world>
                </instance>
                <instance type="instructiontext" uid="52">
                    <properties>
                        <text>Instruction</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-27,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>51</x>
                        <y>460</y>
                        <z>0</z>
                        <width>203</width>
                        <height>48</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.225644857</angle>
                        <opacity>0.5</opacity>
                    </world>
                </instance>
                <instance type="highscorestext" uid="73">
                    <properties>
                        <text>Highscores</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-27,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>682</x>
                        <y>443</y>
                        <z>0</z>
                        <width>200</width>
                        <height>45</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>0.600000024</opacity>
                    </world>
                </instance>
                <instance type="Text24" uid="78">
                    <properties>
                        <text>v1.0</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,700,0</font>
                        <color>0,36,192</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>439</x>
                        <y>371</y>
                        <z>0</z>
                        <width>200</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
